<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Service</title>
</head>
<body>
    <h1>This is Add Service Page</h1>
    <form th:action="@{/Service/add}" method="POST" th:object="${servce}">
        <div>
            <label for="name">Service Name</label>
            <input type="text" th:field="*{name}" id="name" name="name">

            <label for="info">Service Information</label>
            <input type="text" th:field="*{info}" id="info" name="info">

            <label for="price">Price</label>
            <input type="text" th:field="*{price}" id="price" name="price">
        </div>
        <div th:text="${FieldEmptyErr}"></div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
    <form th:action="@{/MaintainServicesPage}">
        <button type="submit">Cancel</button>
    </form>
</body>
</html>