<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Service</title>
</head>
<body>
    <h1>This is Edit Service Page</h1>
    <form th:action="@{/Service/edit}" method="POST" th:object="${oldSv}">
        <div>
            <label for="name">Discount Condition</label>
            <input type="text" th:field="*{name}" id="name" name="name">

            <label for="info">Discount Information</label>
            <input type="text" th:field="*{info}" id="info" name="info">

            <label for="price">Price</label>
            <input type="text" th:field="*{price}" id="price" name="price">

            <label for="id">id</label>
            <input type="text" th:field="*{id}" id="id" name="id">
        </div>
        <div th:text="${FieldEmptyErr}"></div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
    <form th:action="@{/MaintainServicesPage}">
        <button type="submit">Cancel</button>
    </form>
</body>
</html>