<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Upselling</title>
</head>
<body>
    <h1>This is Edit Upselling Page</h1>
    <form th:action="@{/Upsell/edit}" method="POST" th:object="${oldUp}">
        <div>
            <label for="info">Upselling Information</label>
            <input type="text" th:field="*{info}" id="info" name="info">

            <label for="cond">Upselling Condition</label>
            <input type="text" th:field="*{cond}" id="cond" name="cond">

            <label for="cont">Upselling Condition</label>
            <input type="text" th:field="*{cont}" id="cont" name="cont">

            <label for="price">Price</label>
            <input type="text" th:field="*{price}" id="price" name="price">

            <label for="timelmt">Time Limit</label>
            <input type="text" th:field="*{timelmt}" id="timelmt" name="timelmt">

            <label for="id">id</label>
            <input type="text" th:field="*{id}" id="id" name="id">

        </div>
        <div th:text="${FieldEmptyErr}"></div>
        <div>
            <button type="submit">Confirm</button>
        </div>
    </form>
    <form th:action="@{/MaintainServicesPage}">
        <button type="submit">Cancel</button>
    </form>
</body>
</html>